border-1px($color, $direction = bottom)
    position: relative
    &:after
        display: block
        position: absolute
        if $direction is top
            top: 0
            left: 0
            width: 100%
            border-top: 1px solid $color
        if $direction is right
            top: 0
            right: 0
            height: 100%
            border-right: 1px solid $color
        if $direction is left
            top: 0
            left: 0
            height: 100%
            border-left: 1px solid $color
        if $direction is bottom
            bottom: 0
            left: 0
            width: 100%
            border-bottom: 1px solid $color
        content: ' '

border-none()
    &:after
        display: none

bg-image($url)
    background-image url($url + "@2x.png")
    @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio)
        background-image url($url + "@3x.png")
